* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-group {
  display: grid;
  grid-template-columns: 150px 200px;
  align-items: center;
}

.form-group button {
  margin-right: 20px;
}
